.hamburger {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  row-gap: 6px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
  span {
    display: block;
    background: #ffffff;
    height: 3px;
  }
  &_small {
    width: 30px;
  }
  &_long {
    width: 36px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  &.active {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
  &__block {
    position: relative;
    width: 345px;
    height: 100vh;
    background-color: $main-color;
    padding: 140px 0 0 40px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  &__list {
    padding-left: 35px;
    list-style-type: none;
  }
  &__link {
    position: relative;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      left: -35px;
      top: 10px;
      width: 15px;
      height: 15px;
      border: 1px solid #000;
      border-radius: 100%;
      transition: all 0.5s ease;
    }
    &:hover {
      &::before {
        background-color: #fff;
      }
    }
    a {
      color: #fff;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.7;
  }
}
