.skills {
  padding-top: 120px;
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }
  &__item {
    border: 2px solid #000;
    padding: 30px;
    &-header {
      min-height: 60px;
    }
    &-title {
      margin-top: 20px;
      color: black;
      font-size: 14px;
      font-weight: 700;
    }
    &-body {
      margin-top: 15px;
      color: black;
      font-size: 12px;
      font-weight: 500;
    }
  }
  &__stats {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__stat {
    width: 350px;
    &-top {
      @include before_circle;
      position: relative;
      padding: 2px 0 0 10px;
      color: black;
      font-size: 14px;
      font-weight: 700;
      // &::before {
      //   left: -10px;
      // }
      display: flex;
      justify-content: space-between;
    }
    &-bottom {
      margin-top: 27px;
    }
    :is(&-disable, &-active) {
      width: 100%;
      height: 14px;
      border-radius: 5px;
    }
    &-disable {
      background-color: #e8e4de;
    }
    &-active {
      background-color: $main-color;
    }
  }
}
