.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 60px;
  color: #000;
  &_xs {
    font-size: 14px;
    line-height: 21px;
  }
  &_s {
    font-size: 16px;
    line-height: 24px;
  }
  &_m {
    font-size: 20px;
    line-height: 30px;
  }
  &_xl {
    font-size: 36px;
  }
  &_xxl {
    font-size: 48px;
  }
  &__section-title {
    @include before_circle;
    position: relative;
    text-align: center;
    &::before {
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__section-subtitle {
    text-align: center;
  }
}
